<div class='container padding-bottom-3x mb-2 mt-5'>
  <div class='row justify-content-center'>
    <div class='col-lg-8 col-md-10' *ngIf = 'passwordFlag'>
      <form class='card mt-4' style='height: 200px;' >
        <div class='card-body' style='margin-top: 30px;'>
          <div class='form-group' >
            <div [formGroup]='loginForm'>
            <label for='email-for-pass' style='margin-bottom: 10px;'>Enter your email address</label>
            <input 
                [class.is-invalid]='email.invalid && email.touched'
                type='email'
                id='form2Example17'
                class='form-control form-control-lg'
                formControlName='email'
            />
            <div *ngIf='email.invalid && email.touched'>
                <small class='text-danger' *ngIf='email.errors?.required'
                >Email is required</small
                >
           </div>
          </div>
        </div>

        </div>
        <div class='card-footer'>
          <button class='btn btn-success' type='submit' (click)='forgotPassword()'>Reset Password</button>
          <button style='margin-left: 50px;' class='btn btn-danger' type='submit' (click)='homePage()'>Back to Login</button>
        </div>
      </form>
    </div>
    <div style="background-color: white;" class='col-lg-8 col-md-10' *ngIf = 'dialogFlag'>
      <h1 mat-dialog-title>Orders Reset Password</h1>
      <div mat-dialog-content>The link to reset password has been sent to your email</div>
        <div mat-dialog-actions>
          <button mat-button (click)='closeDialog'>Close</button>
        </div>
    </div>
  </div>
</div>
