<div class="grid-container">
<mat-card cols='5' *ngFor="let data of tabledata" class="example-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-header id="adddata" style=" margin-left: -47px;">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{data.product}}</mat-card-title>
      <mat-card-subtitle>{{data.department}}</mat-card-subtitle>
      <mat-card-title>{{data.price+"₹"}}</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button (click)="addToCart(data)">ADD</button>
    </mat-card-actions>
  </mat-card>
</div>
  